<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>849640139010-edj9fn55p2juq5559hcacsnjf03u2q3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849640139010-edj9fn55p2juq5559hcacsnjf03u2q3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCT5FY4hFe2CT_MMaGbmi3rgIZN4Bd7GvM</string>
	<key>GCM_SENDER_ID</key>
	<string>849640139010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maym.iOS-try-app</string>
	<key>PROJECT_ID</key>
	<string>puzzle-attack-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzle-attack-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849640139010:ios:8d4d2c9db9564db6</string>
	<key>DATABASE_URL</key>
	<string>https://puzzle-attack-firebase.firebaseio.com</string>
</dict>
</plist>